@import "tailwindcss";
@import "@heroui/styles"; 

@keyframes marquee-rtl {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-rtl {
  animation: marquee-rtl 30s linear infinite;
}

.animate-marquee-rtl:hover {
  animation-play-state: paused;
}
